body {
  padding: 15px;
  font-size: 1.25em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  margin-left: 15px;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th {
  text-transform: capitalize;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

button, input {
  font-size: 1rem;
}

pre {
  font-family: 'Courier New', Courier, monospace
}

.button-right {
  margin-left: 5px;
}

.no-left {
  margin-left: 0px;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 23px;
  padding-left: 50px;
  color: white;
}

.modal > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal h4 {
  margin-top: 0px;
}

.hide {
  visibility: hidden;
}